<div class="devise_wrapper row" style="height:100%;">
  <br />
  <div class="devise-box col-10 offset-1 col-sm-6 offset-sm-3 text-center" style="height:auto;">
    <h1 class="browse text-center mt-2">Create New Game</h1>
    <hr />
    <h4>Game Title</h4>
    <%= simple_form_for @game do |f| %>
      <%= f.input :name, label: false %>
      <%= f.hidden_field :white_id, value: current_user.id %>
      <%= f.submit "Create", class: 'btn btn-d btn-primary mt-3' %>
    <% end %>
  </div>
  <div class="devise-box-alt mt-0 col-10 offset-1 col-sm-6 offset-sm-3 text-center">
    <h4 class="mt-4"> Did you know? </h4>
    <hr class="f_hr" />
    <p class="facts col-12 text-center"><%= Facts.give_fact %><p>
  </div>
</div>
