<p>
	white_id: <%= @game.white_id%>
	<br />
	white_player.id: <%= @game.white_player.id%>
	<br />
	black_id: <%= @game.black_id%>
	<br />
	black_player.id: <%= @game.black_player.id%>
	<br />
	current_user: <%= current_user.id%>
	<br />
	current_user.username: <%= current_user.username%>
	<br />
</p>

<div class="game_bar row text-center pt-4">
	<div class="col-12 col-sm-3 text-left mb-1">
		<h5 class="game_title"><%= @game.name %></h5>
	</div>
	<div class="col-12 col-sm-4 offset-sm-1"> 
		<h5 class="game_labels">White Player:</h5> <%= @game.white_player.username %>
	</div>
	<div class="col-12 col-sm-4">
		<h5 class="game_labels">Red Player:</h5>
		<% if @game.black_player.present? %>
			<%= @game.black_player&.username %>
		<% else %>
			Waiting for opponent...
		<% end %>
	</div> 
</div>

<div id="show_game">
	<div class="col-12 turn text-center mt-0 move">
		<% if @game.turn.odd? && @game.white_player == current_user || @game.turn.even? && @game.black_player == current_user %>
			It's Your Move
		<% else %>
			Waiting for Opponent's Move
		<% end %>
		&nbsp <%= link_to 'Forfeit Game', concede_game_path(@game), class: 'button btn btn-lg btn-danger forfeit mt-4 mb-4', user_id: current_user, method: :put, data: { confirm: 'Are you sure you want to forfeit? (It will count as a loss)' } %>
	</div>
	<div class="chessboard">
		<% (1..8).each do |y| %>
			<div class="row">
				<% (1..8).each do |x| %>
					<div class="<%= (x + y).odd? ? 'black' : 'white' %> space" data-x="<%= x %>" data-y="<%= y %>" >
						<% @game.pieces.where(x_pos: x, y_pos: y).each do |piece| %>
							<% if piece.player_id == @game.white_id %>
								<span class="<%= piece.render %> white piece wp" data-id= "<$= piece.id %>" data-update-url="<%= game_piece_path(@game, piece) %>" id="piece"></span>
							<% else %>
								<span class="<%= piece.render %> red piece" data-id= "<%= piece.id %>" data-update-url="<%= game_piece_path(@game, piece) %>" id="piece"></span>
							<% end %>
						<% end %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>

<% if @game.white_player.username == current_user.username %>
	<script>
		$(".red").click (function() {
		alert("Not Your Piece!");
		});
	</script>

	<% else %>

	<script>
		$(".wp").click (function() {
		alert("Not Your Piece!");
		});
	</script>

<% end %>

<script>

<% if @game.turn.odd? %>
	$(document).ready(function () {

		$(".piece").draggable({
			containment: '.chessboard',
			revert: false,
			opacity: .4,
			create: function(){$(this).data('position',$(this).position())},
			cursorAt:{left:15},
			start:function(){$(this).stop(true,true)}
		});
		$(".space").droppable({
			snap: '.space',
			drop:function(event, ui){
				var confirmation = confirm("are you sure you want to remove the item?");
				if (confirmation) {
				snapToMiddle(ui.draggable,$(this));
				var x = $(this).attr('data-x')
				var y = $(this).attr('data-y')
				$.ajax({
					type: 'PUT',
						url: ui.draggable.data('update-url'),
						dataType: 'json',
						data: { piece: { x_pos: x, y_pos: y } },
						});
						} else {
							$(".piece").draggable({
								revert: true,
						});
						}
						window.location.href = window.location.href;
					}
				});
			});
	function snapToMiddle(dragger, target){
			var topMove = target.position().top - dragger.data('position').top + (target.outerHeight(true) - dragger.outerHeight(true)) / 40;
			var leftMove= target.position().left - dragger.data('position').left + (target.outerWidth(true) - dragger.outerWidth(true)) / 2;
			dragger.animate({top:topMove,left:leftMove},{duration:600,easing:'easeOutBack'});
	}

	</script>
<% end %>