<div id="gamestats">
	<h1>
		<%= @game.name %>
	</h1>
	<br />
	<h3> 
		White Player:
		<%= @game.white_player.username %>
		<br />
		<br />
		Black Player:
		<%= @game.black_player&.username %>
	</h3> 
	<br />
	<h3>
		<% if @game.turn.odd? %>
			<%= @game.white_player.username %>
		<% else %>
			<%= @game.black_player&.username %>
		<% end %>
		's turn...
	</h3>
	<br />

<script>
	$(document).ready(function(){
		$(".button").click(function(){
			alert('concede button clicked!');
		});
	});
</script>

	<%= link_to 'concede', concede_game_path(@game), class: 'button btn btn-danger', user_id: current_user, method: :put, data: { confirm: 'Are you sure you want to Concede to defeat?' } %>

</div>
<div id="show_game">
	<div class="chessboard">
		<% (1..8).each do |y| %>
			<div class="row">
				<% (1..8).each do |x| %>
					<div class="<%= (x + y).odd? ? 'black' : 'white' %> space">
						<% @game.pieces.where(x_pos: x, y_pos: y).each do |piece| %>
							<% if piece.player_id == @game.white_id %>
								<span class="<%= piece.render %> white piece"></span>
							<% else %>
								<span class="<%= piece.render %> red piece"></span>
							<% end %>
						<% end %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
