<div class="devise_wrapper">
  <div class="game_bar pb-2">
    <div class="col-12 col-sm-4 text-left">
      <i class="fa fa-lg fa-user-circle"></i>
      <span class="ml-1" style="font-size:20px;"><%= current_user.username %></span>
    </div>
    <div class="col-12 text-left" style="font-weight:300;">Member Since: <%= current_user.created_at.strftime('%B %d, %Y') %></div>
  </div>
  <div class="row text-center justify-content-center">
      <br />
    <div class="col-12 text-center mt-3 mb-1">
      <h3 class="browse mb-0">My Games</h3>
      <hr class="f_hr" style="border-color:black; border-width:1px;" />
    </div>
      <% @games.each do |game| %>
        <% if current_user.id == game.white_id || game.black_id && game.game_over == false %>
          <div class="devise-box col-12 col-sm-3 mt-0 ml-4 mr-4">  
            <h5><%= game.name %></h5>
            <i class="fa fa-chess-board board mb-2"></i>
            <br />
            <% if game.turn.odd? && game.white_player == current_user || game.turn.even? && game.black_player == current_user %>
              <b>Your Move</b>
            <% else %>
              Opponent's Move
            <% end %>
          <br />
            <%= link_to 'Continue', game_path(game), class: 'mt-1 btn btn-d btn-primary' %>
        <% end %>
          </div>
        <br />
      <% end %>
  </div>
  <div class="col-12 mb-0 mt-0 devise-box text-center">
    <h3 class="browse mt-2">Career Stats</h3>
    <hr class="f_hr" style="border-color:black; border-width:1px;" />
    <br />
  </h3>
    <h5>
      Total Games Played: 
        <% total_games = (@games.where(black_player: current_user).count + @games.where(white_player: current_user).count).to_i %>
        <%= total_games %>
        <br />
      Total Wins: 
        <%= current_user.num_wins.to_i %>
        <br />
      Total Losses: 
        <% if current_user.num_wins.to_i + current_user.num_ties.to_i == 0 %>
          0
        <% else %>
          <%= total_games - (current_user.num_wins.to_i + current_user.num_ties.to_i) %>
        <% end %>
        <br />
      Total Draws: 
        <%= current_user.num_ties.to_i %>
        <br />
      Win Percentage: 
        <% if total_games == 0 %>
          <%= 0 %>
        <% else %>
          <% win_percent = (current_user.num_wins.to_f / total_games.to_f) * 100 %>
          <%= win_percent %>%
          <br />
        <% end %>
    </h5>
  </div>
</div>